#footer{
    margin-top: 200px;
    background: #1C1E53;
    
}
.footer_left{
    padding-top: 100px;
}
.footer_inner p{
    width: 399px;
    padding-top: 22px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.8;
}
.footer_box{
    margin-top: 100px;
    padding: 10px 0px;
    width: 517px;
    background-color: #FCD980;
}
.box_inner h6{
    padding-left: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #282938;

}
.box_inner p{
    padding-left: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #282938;
    opacity: 0.8;
}
.right_box h6{
    padding-left: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #282938;
}
.right_box p{
    padding-left: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #282938;
}
.footer_right{
    padding-top: 100px;
    
}
.footer_right h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
}
.footer_right p{
    width: 399px;
    margin-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #F4F6FC;
    opacity: 0.8;
}
.footer_right_icon i{
    margin:  20px;
    color: #F4F6FC;
}
.footer-nav ul li{
    margin: 16px;
}
.footer-nav ul li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #0d0d0d;
}
.navbar-brand p{
    margin: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #151516;
}