#frequently{
    padding: 100px 0px;
}
.frequently_header span{
    margin-top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 64px;
    color: #2405F2;
    opacity: 0.87;
}
.accordion_inner span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #2405F2;
}
.accordion_inner h3{
    padding-left: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #282938;
}
.accordion-body{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #282938;
    opacity: 0.87;
}